@font-face {
    font-family: "Brush Script Std";
    src: url(fonts/BrushScriptStd.otf);
    font-style: italic;
}


/*Стилизация header'а*/

header {
    background-color: rgb(54, 54, 54);
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-header a {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 34px 21px 38px 8px;
}

.nav-header a:hover {
    border-top: 3px solid rgb(232, 99, 51);
    padding-top: 31px;
    margin-bottom: 0;
    z-index: 1;
    background-color: rgb(54, 54, 54);
    text-decoration: none;
}

.logo {
    font-size: 54px;
    font-family: "Brush Script Std";
    color: rgb(246, 246, 246);
    text-align: center;
    padding-left: 17px;
}

.logo:hover {
    color: rgb(246, 246, 246);
    text-decoration: none;
}

.custom-toggler {
    color: rgb(246, 246, 246);
    background-color: rgb(54, 54, 54);
    margin-top: 24px;
    margin-bottom: 28px;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 991.98px) {
  .nav-header a {
    padding: 0;
    text-align: right;
    padding-top: 3px;
  }

  .nav-header a:hover {
    padding: 0;
  }
.nav-header a:last-child {
    margin-bottom: 16px;
  }
}


/*Оформление слайдера*/

.slider {
    background-image: -moz-linear-gradient( -90deg, rgb(249, 115, 64) 0%, rgb(220, 89, 43) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(249, 115, 64) 0%, rgb(220, 89, 43) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(249, 115, 64) 0%, rgb(220, 89, 43) 100%);
    box-shadow: 0px -22px 46px 0px rgba(0, 0, 0, 0.42);
    width: 100%;
    margin: 1px;
}


.carousel-item img {
    max-width: 100%;
    margin-top: 66px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
}

.carousel-control-prev-icon {
    background-image: url("img/ArrowLeft.png");
    width: 30px;
    height: 32px;
}

.carousel-control-next-icon {
    background-image: url("img/ArrowRight.png");
    width: 30px;
    height: 32px;
}

.main {
    width: 100%;
    background-color: rgb(249, 249, 249);
}

.body {
    background-color: rgb(255, 255, 255);
}




/*Оформление тела*/

.HighlightBar {
    font-family: "Arial";
    color: rgb(155, 146, 146);
    text-align: left;
    padding-top: 53px;
    position: relative;
}

.HighlightBar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
}

.HighlightBar h2 {
    font-style: italic;
    font-size: 24px;
    line-height: 1.174;
    margin-bottom: 0;
}

.HighlightBar p {
    font-size: 16px;
    line-height: 1.767;
    padding-left: 7px;
}

.Shape {
    border: 1px solid rgb(239, 239, 239);
    background-color: rgb(248, 248, 248);
    max-width: 100%;
    margin: 0px 26px 57px 30px;
    padding: 43px 39px 43px 39px;
    position: relative;
}



/*Треугольник вниз с обводкой*/

.Shape::before,
.Shape::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    left: 89px;
    border: 30px solid transparent;
}

.Shape::before {
    border-top: 45px solid rgb(239, 239, 239);
    bottom: -76px;
}

.Shape::after {
    border-top: 43px solid rgb(248, 248, 248);
    bottom: -74px;
}


button {
    color: rgb(255, 255, 255);
    border-style: none;
    cursor: pointer;
}



/*Кнопка первая*/

.button1 {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    height: 42px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-family: "Arial";
}




/*Продукты*/

.Products {
    margin-top: 105px;
    margin-right: 51px;
}

.Products img {
    position: absolute;
    left: 56px;
}

.Products h3 {
    font-size: 16px;
    font-family: "Arial";
    color: rgb(53, 53, 53);
    line-height: 1.767;
    text-align: left;
    margin-left: 124px;
}

.Products p {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(155, 146, 146);
    line-height: 1.246;
    text-align: left;
    margin-left: 127px;
}

.Products-hr {
    /*width: 92%;*/
    margin-top: 68px;
    margin-left: 40px;
    margin-right: 47px;
}




/*Блок с видео*/

.VideoBlock {
    margin: 35px auto 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.VideoWrapper {
    display: flex;
    flex-wrap: wrap;
}

.Video {
    margin: 0 auto 2em;
}

video {
    min-width: 100%;
    height: auto;
}

.Intro {
    padding: 0 2em;
    max-width: 100%;
    max-height: 100%;
    font-family: "Arial";
    text-align: left;
}

.Intro h3 {
    font-size: 15px;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    line-height: 1.482;
    margin-bottom: 0;
}


.Intro p {
    font-size: 13px;
    color: rgb(155, 146, 146);
    line-height: 1.246;
    margin-top: 18px;
    padding-left: 4px;
}

.Intro-hr {
    margin-right: 51px;
    padding: 0;
}


.Intro a {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(249, 115, 64);
    text-decoration: underline;
    line-height: 1.246;
    text-align: left;
    margin-left: 9px;
}




/*Блок с клиентами*/

.Clients {
    margin-top: 42px;
    margin-left: 42px;
    margin-right: 42px;
    text-align: center;
}

.Clients p {
    font-size: 12px;
    font-family: "HelveticaNeue";
    color: rgb(123, 123, 123);
    text-transform: uppercase;
    line-height: 2.364;
    text-align: center;
    margin: 0;
}

.Clients_Logo img {
    max-width: 100%;
    height: auto;
    padding-bottom: 11px;
}





/*Кнопки*/

.buttons {
    margin-top: 25px;
    padding-bottom: 31px;
}

.button a {
    font-size: 12px;
    font-family: "Arial";
    display: flex;
    justify-content: center;
}


.button2 {
    max-width: 100%;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(73, 73, 73) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(73, 73, 73) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(73, 73, 73) 100%);
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 16px;
}

.button3 {
    max-width: 100%;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 16px;
}

.or {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

.or p {
    margin-bottom: 0;
}

.buttons-hr {
    flex: 1;
    margin: 0 30px;
}




/*Подвал*/

.footer-top {
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.footer-top h3 {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 28px;
}

.footer-top input {
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(146, 146, 146);
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    width: 50%;
}

.footer-top button {
    margin-bottom: 33px;
}

textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(146, 146, 146);
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    width: 95%;
    height: 127px;
    resize: none;
}


#submit {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: none;
    background-image: -moz-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(249, 115, 64) 0%, rgb(247, 113, 63) 100%);
    text-transform: uppercase;
    text-align: center;
    max-width: 75px;
    margin-top: 13px;
    margin-right: 29px;
    padding: 10px 14px 10px 16px;
    float: right;
}

.Menu a {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-top: 1px solid rgb(70, 70, 70);
    padding-top: 8px;
    padding-bottom: 9px;
}

.arrows {
    float: left;
    border: 7px solid transparent;
    border-left: 12px solid rgb(198, 198, 198);
    border-radius: 3px;
    margin-top: 9px;
    padding-right: 11px;
}

.rss a {
    font-size: 11px;
    font-family: "Arial";
    color: rgb(202, 202, 202);
    line-height: 0.923;
    text-align: left;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rss img {
    border: 1px solid rgb(70, 70, 70);
    padding: 14px 14px 19px 19px;
    margin-right: 18px;
    margin-bottom: 24px;
}

.footer-bottom {
    background-color: rgb(62, 62, 62);
}

.nav-copy a {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 33px 21px 0px 8px;
}

.icons {
    margin-top: 26px;
    margin-bottom: 26px;
}

.icons a {
    margin-right: 19px;
}








/*


*/